
{% extends 'base1.html' %}
{% load static %}
{% block title %}Gistme | View Post{% endblock %}
<script>function preback(){window.history.forward();}setTimeout("preback(),0");window.onunload=function(){null;}</script>

{% block content %}

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <form class="d-flex align-items-center mb-3">
                                           
                                             
                                        </form>
                                    </div>
                                    <h4 class="page-title" style="color:#a4c639;">Dashboard: <span class="badge rounded-pill" style="background-color:#a4c639; color:white">  {{count_comment}}</span>Comments</h4></h4>
                                </div>
                            </div>
                        </div>      

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-header text-center" style="color:#a4c639;">ALL COMMENTS</h4>
                                        <div class="table-responsive">
                                            <table class="table tabale-unstriped table-bordered">
                                        
                                                    <tr>
                                                        <th style="color:white; background-color:#a4c639;">ID</th>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Post</th>
                                                        <th class=" text-center">Comment</th>
                                                        <th class="text-center">Date</th>
                                                       
                                                        <th class="border-info text-center bg-info text-white" >Edit</th>
                                                        <th class="border-danger text-center bg-danger text-white">Delete</th>
                                                    </tr>
                                               
                                                <tbody>
                                                    
                                                    {% for comment in comment reversed %}
                                                    
                                                    <tr>
                                                        <th scope="row" style="color:white; background-color:#a4c639;">{{comment.id}}</th>
                                                        <td>{{comment.name}}</td>
                                                        <td>{{comment.email}}</td>
                                                        <td>{{comment.post}}</td>
                                                        <td>{{comment.body|truncatewords:10}}</td>
                                                        <td>{{comment.created|date:' M-D-Y'}}</td>
                                                        <td class="border-danger text-center border-1 text-danger"> <a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-square-edit-outline text-info"></i></a></td>
                                                        <td class="border-danger text-center border-1 text-danger"><a href="javascript:void(0);" class="action-icon"> <i class="mdi mdi-delete-outline text-danger text-center"></i></a></td>
                                                    </tr>

                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div> <!-- end card -->
                            </div> <!-- end col -->
        
                            
                        </div>
                        <!--- end row -->
                <!-- Footer Start -->
                

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


      {% endblock %}